.conteiner {
  width: 1180px;
  margin: 0 auto; }

.main {
  padding: 0 10px; }

.tltlt-text {
  padding-bottom: 50px; }
  .tltlt-text h2 {
    margin: 0;
    color: #0f0f0f;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300; }

/* main slider */
.main_slider .conteiner {
  position: relative; }
  .main_slider .conteiner .arrows .prew {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 78px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .main_slider .conteiner .arrows .prew .con {
      right: 35px; }
    .main_slider .conteiner .arrows .prew:hover {
      background-color: rgba(255, 255, 255, 0.6); }
      .main_slider .conteiner .arrows .prew:hover svg {
        fill: rgba(255, 255, 255, 0.9); }
  .main_slider .conteiner .arrows .next {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    right: 0;
    width: 78px;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .main_slider .conteiner .arrows .next:hover {
      background-color: rgba(255, 255, 255, 0.6); }
    .main_slider .conteiner .arrows .next .con {
      left: 35px; }
    .main_slider .conteiner .arrows .next svg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .main_slider .conteiner .arrows .con {
    height: 35px;
    width: 22px;
    top: -webkit-calc(50% - 35px/2);
    top: -moz-calc(50% - 35px/2);
    top: calc(50% - 35px/2);
    position: absolute; }
  .main_slider .conteiner .arrows svg {
    width: 100% !important;
    height: 100% !important;
    fill: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.main_slider .sliding .slider-item {
  width: 100%;
  height: 520px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .main_slider .sliding .slider-item .con {
    position: relative;
    padding: 0 80px 40px; }
    .main_slider .sliding .slider-item .con .named {
      font-size: 70px;
      font-family: "Open Sans";
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      padding-bottom: 27px; }
    .main_slider .sliding .slider-item .con .after {
      font-size: 15px;
      font-family: "Open Sans";
      color: white;
      font-weight: 400;
      line-height: 1.2;
      padding-bottom: 25px; }
    .main_slider .sliding .slider-item .con .button {
      display: block;
      text-decoration: none;
      width: 160px;
      height: 41px;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 2px solid white;
      position: relative;
      background-color: transparent;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .main_slider .sliding .slider-item .con .button:after {
        content: '';
        background-image: url("../images/button_arrow.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: -webkit-calc(50% - 16px/2);
        top: -moz-calc(50% - 16px/2);
        top: calc(50% - 16px/2);
        right: 16px; }
      .main_slider .sliding .slider-item .con .button span {
        font-size: 14px;
        font-family: "Open Sans";
        color: white;
        font-weight: bold;
        line-height: 1;
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 26px; }
      .main_slider .sliding .slider-item .con .button:hover {
        background-color: rgba(255, 255, 255, 0.6); }

.main_slider .slick-slider {
  margin-bottom: 0; }
  .main_slider .slick-slider .slick-dots {
    bottom: 30px;
    background-color: transparent;
    height: 14px;
    margin: 0; }
    .main_slider .slick-slider .slick-dots li {
      width: 14px;
      height: 14px;
      margin: 0 4px;
      background-color: rgba(255, 255, 255, 0.6);
      opacity: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .main_slider .slick-slider .slick-dots li.slick-active {
        background-color: rgba(255, 255, 255, 0.9); }
      .main_slider .slick-slider .slick-dots li:hover {
        background-color: rgba(255, 255, 255, 0.9); }
      .main_slider .slick-slider .slick-dots li button {
        display: none; }
  .main_slider .slick-slider .slick-arrow {
    left: 0 !important;
    right: 100% !important;
    opacity: 0; }

/* main slider */
/* header */
.header {
  width: 100%;
  position: relative;
  z-index: 10; }
  .header .logo {
    text-align: center;
    padding: 30px 0; }
    .header .logo a {
      display: inline-block;
      margin: 0 auto;
      text-decoration: none; }
    .header .logo .slogan {
      max-width: 550px;
      margin: 0 auto;
      text-align: center;
      font-size: 12px;
      font-family: "Open Sans";
      color: black;
      font-weight: 300; }
  .header .row {
    background-color: #000000;
    position: relative;
    z-index: 10; }
    .header .row .head-nav {
      height: 52px;
      width: 100%;
      list-style: none;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -moz-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-align: center;
      margin: 0; }
      .header .row .head-nav > li {
        width: -webkit-calc(100%/6);
        width: -moz-calc(100%/6);
        width: calc(100%/6);
        /* kostili */
        /* kostili */ }
        .header .row .head-nav > li > a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          height: 52px;
          position: relative;
          text-decoration: none;
          font-size: 14px;
          font-family: "Open Sans";
          text-transform: uppercase;
          font-weight: 300;
          color: #d7d5d5;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .header .row .head-nav > li > a:after {
            position: absolute;
            content: '';
            bottom: 0;
            height: 7px;
            left: 50%;
            right: 50%;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0;
            background-color: #ea3c3c; }
          .header .row .head-nav > li > a:hover {
            color: #ea3c3c; }
            .header .row .head-nav > li > a:hover:after {
              left: 0;
              right: 0;
              opacity: 1; }
        .header .row .head-nav > li.active a:after {
          left: 0;
          right: 0;
          opacity: 1; }
        .header .row .head-nav > li .drop-dovn {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: rgba(54, 53, 53, 0.9);
          overflow: hidden;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          height: 0; }
          .header .row .head-nav > li .drop-dovn ul {
            list-style: none;
            padding: 0;
            width: -webkit-calc(100%/6);
            width: -moz-calc(100%/6);
            width: calc(100%/6);
            margin: 0; }
            .header .row .head-nav > li .drop-dovn ul > li {
              width: 100%;
              padding: 15px 10px; }
              .header .row .head-nav > li .drop-dovn ul > li a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 300;
                display: inline-block;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                font-family: "Open Sans";
                color: white;
                text-transform: uppercase;
                line-height: 1.2; }
                .header .row .head-nav > li .drop-dovn ul > li a:hover {
                  color: #f94e4e; }
        .header .row .head-nav > li:nth-child(1) .drop-dovn ul {
          margin-left: 0%; }
        .header .row .head-nav > li:nth-child(2) .drop-dovn ul {
          margin-left: -webkit-calc(100% - 5*100%/6);
          margin-left: -moz-calc(100% - 5*100%/6);
          margin-left: calc(100% - 5*100%/6); }
        .header .row .head-nav > li:nth-child(3) .drop-dovn ul {
          margin-left: -webkit-calc(100% - 4*100%/6);
          margin-left: -moz-calc(100% - 4*100%/6);
          margin-left: calc(100% - 4*100%/6); }
        .header .row .head-nav > li:nth-child(4) .drop-dovn ul {
          margin-left: -webkit-calc(100% - 3*100%/6);
          margin-left: -moz-calc(100% - 3*100%/6);
          margin-left: calc(100% - 3*100%/6); }
        .header .row .head-nav > li:nth-child(5) .drop-dovn ul {
          margin-left: -webkit-calc(100% - 2*100%/6);
          margin-left: -moz-calc(100% - 2*100%/6);
          margin-left: calc(100% - 2*100%/6); }
        .header .row .head-nav > li:nth-child(6) .drop-dovn ul {
          margin-left: -webkit-calc(100% - 2*100%/6);
          margin-left: -moz-calc(100% - 2*100%/6);
          margin-left: calc(100% - 2*100%/6); }
        .header .row .head-nav > li:hover .drop-dovn {
          height: auto; }

/* header */
/* FOOTER */
footer {
  width: 100%;
  padding: 35px 0 12px;
  background-color: white; }
  footer .convert {
    background-color: #444444; }
    footer .convert .conteiner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0 60px;
      height: 107px; }
      footer .convert .conteiner .left {
        width: 33%; }
        footer .convert .conteiner .left .top-line {
          width: 100%;
          padding-bottom: 12px; }
          footer .convert .conteiner .left .top-line ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            footer .convert .conteiner .left .top-line ul li {
              display: inline-block; }
              footer .convert .conteiner .left .top-line ul li a {
                text-decoration: none;
                font-size: 12px;
                font-weight: 300;
                font-family: "Open Sans";
                color: white;
                text-transform: uppercase;
                position: relative;
                letter-spacing: 1px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s; }
                footer .convert .conteiner .left .top-line ul li a:before {
                  position: absolute;
                  content: '';
                  bottom: 0;
                  left: 50%;
                  right: 50%;
                  height: 1px;
                  background-color: #ea3c3c;
                  -webkit-transition: all 0.3s;
                  -moz-transition: all 0.3s;
                  -o-transition: all 0.3s;
                  transition: all 0.3s; }
                footer .convert .conteiner .left .top-line ul li a:hover {
                  color: #ea3c3c; }
                  footer .convert .conteiner .left .top-line ul li a:hover:before {
                    left: 0;
                    right: 0; }
        footer .convert .conteiner .left .some a {
          display: inline-block;
          margin-right: 25px; }
      footer .convert .conteiner .center {
        padding-top: 20px; }
        footer .convert .conteiner .center a {
          font-size: 12px;
          font-family: "Open Sans";
          color: white;
          text-decoration: underline;
          font-weight: 300;
          letter-spacing: 1px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          footer .convert .conteiner .center a:hover {
            color: #ea3c3c; }
      footer .convert .conteiner .right .copyright {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: "Open Sans";
        color: white;
        text-transform: uppercase;
        padding-bottom: 15px; }
      footer .convert .conteiner .right .soc {
        text-align: right; }
        footer .convert .conteiner .right .soc a {
          display: inline-block;
          width: 25px;
          height: 25px;
          border: 2px solid white;
          padding: 3px;
          margin-left: 16px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          footer .convert .conteiner .right .soc a svg {
            width: 100% !important;
            height: 100% !important;
            fill: white;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
          footer .convert .conteiner .right .soc a:hover {
            border-color: #ea3c3c; }
            footer .convert .conteiner .right .soc a:hover svg {
              fill: #ea3c3c; }

/* FOOTER */
/* debats-inside */
.debats-inside {
  width: 100%; }
  .debats-inside .content {
    font-family: 'Open Sans Condensed';
    padding-top: 38px; }
    .debats-inside .content .title {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 36px;
      padding-bottom: 10px; }
    .debats-inside .content .oponents {
      font-size: 21px;
      font-style: italic;
      font-weight: 300;
      padding-bottom: 15px; }
    .debats-inside .content .date {
      font-size: 23px;
      font-weight: 300;
      color: #16a085;
      padding-bottom: 18px; }
    .debats-inside .content .ctext {
      font-size: 21px;
      color: #0f0f0f;
      line-height: 1.6;
      font-family: 'Open Sans'; }
      .debats-inside .content .ctext p {
        margin: 0;
        padding: 25px 0; }
      .debats-inside .content .ctext p:first-child {
        padding-top: 33px; }
    .debats-inside .content .after-soc {
      text-align: right;
      vertical-align: top; }
      .debats-inside .content .after-soc p {
        display: inline-block;
        font-size: 14px;
        font-family: "Open Sans";
        color: #1f2e3c;
        font-weight: bold;
        vertical-align: top;
        margin: 0;
        padding-top: 8px; }
      .debats-inside .content .after-soc a {
        display: inline-block;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 2px 0;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        text-decoration: none;
        vertical-align: top;
        margin-left: 5px; }
        .debats-inside .content .after-soc a span {
          display: inline-block;
          vertical-align: top; }
        .debats-inside .content .after-soc a .soc-type {
          padding: 0 4px;
          border-right: 1px solid rgba(255, 255, 255, 0.5);
          display: inline-block;
          width: 25px;
          height: 25px;
          text-align: center; }
        .debats-inside .content .after-soc a svg {
          fill: white;
          width: 100%;
          height: 100%; }
        .debats-inside .content .after-soc a .calc {
          padding: 5px 10px;
          font-size: 14px;
          font-family: "Open Sans";
          color: white;
          font-weight: 300; }
      .debats-inside .content .after-soc .vk {
        background-color: #48729e; }
        .debats-inside .content .after-soc .vk:hover {
          background-color: #2f5680; }
      .debats-inside .content .after-soc .fb {
        background-color: #3c5a98; }
        .debats-inside .content .after-soc .fb:hover {
          background-color: #224ea7; }

/* debats-inside */
/* debats */
.debats .items-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .debats .items-wrap .item {
    width: 30%;
    font-family: "Open Sans";
    padding-bottom: 70px; }
    .debats .items-wrap .item .con {
      width: 100%;
      max-width: 380px;
      max-height: 228px;
      overflow: hidden;
      display: block;
      text-decoration: none; }
      .debats .items-wrap .item .con img {
        min-width: 100%;
        min-height: 100%; }
    .debats .items-wrap .item .date {
      font-size: 12px;
      color: #2f8d78;
      font-weight: 700;
      padding: 11px 0 13px; }
    .debats .items-wrap .item .title {
      font-size: 14px;
      font-weight: 700;
      display: block;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      color: black; }
      .debats .items-wrap .item .title:hover {
        color: #ef3d39; }
    .debats .items-wrap .item .oponents {
      padding-top: 10px;
      padding-bottom: 15px;
      font-style: italic;
      font-weight: 300;
      font-size: 14px; }
    .debats .items-wrap .item .aftertext {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 300; }

/* debats */
/* pagination-slider  */
.pagination-slider .slider, .partners .slider {
  position: relative;
  padding: 0 57px; }
  .pagination-slider .slider .arrows .prew, .partners .slider .arrows .prew {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 78px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .pagination-slider .slider .arrows .prew .con, .partners .slider .arrows .prew .con {
      right: 35px; }
    .pagination-slider .slider .arrows .prew:hover, .partners .slider .arrows .prew:hover {
      background-color: rgba(255, 255, 255, 0.6); }
      .pagination-slider .slider .arrows .prew:hover svg, .partners .slider .arrows .prew:hover svg {
        fill: #7b7b7b; }
  .pagination-slider .slider .arrows .next, .partners .slider .arrows .next {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    right: 0;
    width: 78px;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .pagination-slider .slider .arrows .next:hover, .partners .slider .arrows .next:hover {
      background-color: rgba(255, 255, 255, 0.6); }
    .pagination-slider .slider .arrows .next .con, .partners .slider .arrows .next .con {
      left: 35px; }
    .pagination-slider .slider .arrows .next svg, .partners .slider .arrows .next svg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .pagination-slider .slider .arrows .con, .partners .slider .arrows .con {
    height: 35px;
    width: 22px;
    top: -webkit-calc(50% - 35px/2);
    top: -moz-calc(50% - 35px/2);
    top: calc(50% - 35px/2);
    position: absolute; }
  .pagination-slider .slider .arrows svg, .partners .slider .arrows svg {
    width: 100% !important;
    height: 100% !important;
    fill: #d2d2d2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .pagination-slider .slider .con-slider ul, .partners .slider .con-slider ul {
    list-style: none;
    padding: 0;
    width: 340px;
    padding: 0 10px; }
    .pagination-slider .slider .con-slider ul li, .partners .slider .con-slider ul li {
      display: block;
      font-family: "Open Sans"; }
      .pagination-slider .slider .con-slider ul li .con, .partners .slider .con-slider ul li .con {
        max-width: 340px;
        width: 100%;
        min-height: 228px;
        overflow: hidden; }
        .pagination-slider .slider .con-slider ul li .con img, .partners .slider .con-slider ul li .con img {
          min-height: 100%;
          min-width: 100%; }
      .pagination-slider .slider .con-slider ul li .date, .partners .slider .con-slider ul li .date {
        font-size: 12px;
        font-weight: 700;
        color: #2f8d78;
        padding-top: 11px; }
      .pagination-slider .slider .con-slider ul li .aftertext, .partners .slider .con-slider ul li .aftertext {
        padding-top: 14px;
        padding-bottom: 31px; }
        .pagination-slider .slider .con-slider ul li .aftertext a, .partners .slider .con-slider ul li .aftertext a {
          display: block;
          text-decoration: none;
          font-size: 14px;
          font-weight: 700;
          color: black;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .pagination-slider .slider .con-slider ul li .aftertext a:hover, .partners .slider .con-slider ul li .aftertext a:hover {
            color: #ea3c3c; }
        .pagination-slider .slider .con-slider ul li .aftertext p, .partners .slider .con-slider ul li .aftertext p {
          margin: 0;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.5;
          padding-top: 16px; }
  .pagination-slider .slider .slick-slide, .partners .slider .slick-slide {
    height: auto; }
  .pagination-slider .slider .slick-slider, .partners .slider .slick-slider {
    margin-bottom: 0; }
    .pagination-slider .slider .slick-slider .slick-dots, .partners .slider .slick-slider .slick-dots {
      display: none !important; }
    .pagination-slider .slider .slick-slider .slick-arrow, .partners .slider .slick-slider .slick-arrow {
      left: 0 !important;
      pointer-events: none;
      right: 100% !important;
      opacity: 0; }

/* pagination-slider */
