/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.06.2016, 13:44:17
    Author     : ArtG
*/

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/images/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/images/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/images/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/images/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("/images/fancybox_sprite@2x.png");
    -webkit-background-size: 44px 152px;
    -moz-background-size: 44px 152px;
    -o-background-size: 44px 152px;
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("/images/fancybox_loading@2x.gif");
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

@charset "UTF-8";
.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -moz-linear-gradient(#FFF, #E6E6E6);
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #666;
  -webkit-box-shadow: inset 0 -3px 6px #AAA;
  -moz-box-shadow: inset 0 -3px 6px #AAA;
  box-shadow: inset 0 -3px 6px #AAA; }

.jq-checkbox.focused {
  border: 1px solid #08C; }

.jq-checkbox.disabled {
  opacity: .55; }

.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -moz-linear-gradient(#FFF, #E6E6E6);
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer; }

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #777;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7); }

.jq-radio.focused {
  border: 1px solid #08C; }

.jq-radio.disabled {
  opacity: .55; }

.jq-file {
  width: 270px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-file input {
  height: auto;
  line-height: 1em;
  cursor: pointer; }

.jq-file__name {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
  -moz-box-shadow: inset 1px 1px #F1F1F1;
  box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -moz-linear-gradient(#FFF, #E6E6E6);
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-file:hover .jq-file__browse {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -moz-linear-gradient(#F6F6F6, #E6E6E6);
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  -moz-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD; }

.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF; }

.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #888; }

.jq-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 36px 0 0; }

.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-number__field:hover {
  border-color: #B3B3B3; }

.jq-number__field input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
  text-align: left;
  /* для Opera Presto */
  -moz-appearance: textfield; }

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none; }

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -moz-linear-gradient(#FFF, #E6E6E6);
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

.jq-number__spin.minus {
  top: auto;
  bottom: 0; }

.jq-number__spin:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -moz-linear-gradient(#F6F6F6, #E6E6E6);
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-number__spin:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  -moz-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD; }

.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent; }

.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent; }

.jq-number__spin.minus:hover:after {
  border-top-color: #000; }

.jq-number__spin.plus:hover:after {
  border-bottom-color: #000; }

.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF; }

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #888; }

.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA; }

.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer; }

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -moz-linear-gradient(#FFF, #E6E6E6);
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-selectbox__select:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -moz-linear-gradient(#F6F6F6, #E6E6E6);
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-selectbox__select:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  -moz-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD; }

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.jq-selectbox .placeholder {
  color: #888; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #CCC; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000; }

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA; }

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif; }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
  -moz-box-shadow: inset 1px 1px #F1F1F1;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20; }

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF; }

.jq-selectbox li.disabled {
  color: #AAA; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-select-multiple li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333; }

input[type='search'].styler {
  -webkit-appearance: none; }

textarea.styler {
  overflow: auto; }

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3; }

input[type='email'].styler:focus,
input[type='password'].styler:focus,
input[type='search'].styler:focus,
input[type='tel'].styler:focus,
input[type='text'].styler:focus,
input[type='url'].styler:focus,
textarea.styler:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -moz-linear-gradient(#FFF, #E6E6E6);
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

button.styler::-moz-focus-inner,
input[type='button'].styler::-moz-focus-inner,
input[type='submit'].styler::-moz-focus-inner,
input[type='reset'].styler::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -moz-linear-gradient(#F6F6F6, #E6E6E6);
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

button.styler:not([disabled]):active,
input[type='button'].styler:not([disabled]):active,
input[type='submit'].styler:not([disabled]):active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  -moz-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD; }

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #888; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url(".//images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* helping adds*/
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden; }

.cfix:after {
  content: '';
  display: block;
  height: 0;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clear: both; }

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.jfix-after:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle; }

.vfix-before:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle; }

.hidden-block {
  position: absolute;
  left: -99999em;
  top: -99999em; }

/* /helping adds*/
/* ctext */
.ctext h1, .ctext h2, .ctext h3, .ctext h4, .ctext h5, .ctext h6 {
  line-height: 1.25;
  margin-bottom: 15px;
  font-weight: 700; }

.ctext h1 {
  font-size: 36px; }

.ctext h2 {
  font-size: 32px; }

.ctext h3 {
  font-size: 28px; }

.ctext h4 {
  font-size: 24px; }

.ctext h5 {
  font-size: 20px; }

.ctext h6 {
  font-size: 16px; }

.ctext p {
  margin-bottom: 10px;
  font-size: 14px; }

/* /ctext */
/* base styles*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

*, body, html {
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  max-height: 9001em; }

html {
  height: 100%; }

body {
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: arial,sans-serif;
  background: #fff;
  color: #3d3d3d;
  position: relative;
  font-size: 16px;
  line-height: 1;
  /* styles for wp-admin panel */
  /* /styles for wp-admin panel */ }
  body.customize-support .wp-panel-show {
    top: 32px; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }

/* adapted styles for wp-admin panel */
@media screen and (max-width: 782px) {
  body.customize-support .wp-panel-show {
    top: 46px; }
  #wpadminbar {
    position: fixed !important; } }

/* /adapted styles for wp-admin panel */
/* /base styles */
/* wraps styling*/
.mbox {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.mbox:after {
  content: "";
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block; }

/* /wraps styling*/
.footer_placeholder {
  height: 200px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #212121; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #212121;
  opacity: 1; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #212121;
  opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #212121; }

/*End Layout*/
/*fonts*/
/*/fonts*/




      
/* header */
    .header {
      width: 100%;
      position: relative;
      z-index: 10; }
      .header .logo {
        text-align: center;
        padding-bottom: 30px; }
        .header .logo a {
          display: inline-block;
          margin: 0 auto;
          text-decoration: none; }
        .header .logo .slogan {
          max-width: 550px;
          margin: 0 auto;
          text-align: center;
          font-size: 12px;
          font-family: "Open Sans";
          color: black;
          font-weight: 300; }
      .header .row {
        background-color: #000000;
        position: relative;
        z-index: 10; }
        .header .row .head-nav {
          height: 52px;
          width: 100%;
          list-style: none;
          padding: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
          -moz-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          text-align: center;
          margin: 0; }
          .header .row .head-nav > li {
            width: -webkit-calc(100%/6);
            width: -moz-calc(100%/6);
            width: calc(100%/6);
            /* kostili */
            /* kostili */ }
            .header .row .head-nav > li > a {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -moz-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -moz-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              position: relative;
              text-decoration: none;
              font-size: 14px;
              font-family: "Open Sans";
              text-transform: uppercase;
              font-weight: 300;
              color: #d7d5d5;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; }
              .header .row .head-nav > li > a:after {
                position: absolute;
                content: '';
                bottom: 0;
                height: 7px;
                left: 50%;
                right: 50%;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                opacity: 0;
                background-color: #ea3c3c; }
              .header .row .head-nav > li > a:hover {
                color: #ea3c3c; }
                .header .row .head-nav > li > a:hover:after {
                  left: 0;
                  right: 0;
                  opacity: 1; }
            .header .row .head-nav > li.active a:after {
              left: 0;
              right: 0;
              opacity: 1; }
            .header .row .head-nav > li .drop-dovn {
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              background-color: rgba(54, 53, 53, 0.9);
              overflow: hidden;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
              height: 0; }
              .header .row .head-nav > li .drop-dovn ul {
                list-style: none;
                padding: 0;
                width: -webkit-calc(100%/6);
                width: -moz-calc(100%/6);
                width: calc(100%/6);
                margin: 0; }
                .header .row .head-nav > li .drop-dovn ul > li {
                  width: 100%;
                  padding: 15px 10px; }
                  .header .row .head-nav > li .drop-dovn ul > li a {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 300;
                    display: inline-block;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    font-family: "Open Sans";
                    color: white;
                    text-transform: uppercase;
                    line-height: 1.2; }
                    .header .row .head-nav > li .drop-dovn ul > li a:hover {
                      color: #f94e4e; }
            .header .row .head-nav > li:nth-child(1) .drop-dovn ul {
              margin-left: 0%; }
            .header .row .head-nav > li:nth-child(2) .drop-dovn ul {
              margin-left: -webkit-calc(100% - 5*100%/6);
              margin-left: -moz-calc(100% - 5*100%/6);
              margin-left: calc(100% - 5*100%/6); }
            .header .row .head-nav > li:nth-child(3) .drop-dovn ul {
              margin-left: -webkit-calc(100% - 4*100%/6);
              margin-left: -moz-calc(100% - 4*100%/6);
              margin-left: calc(100% - 4*100%/6); }
            .header .row .head-nav > li:nth-child(4) .drop-dovn ul {
              margin-left: -webkit-calc(100% - 3*100%/6);
              margin-left: -moz-calc(100% - 3*100%/6);
              margin-left: calc(100% - 3*100%/6); }
            .header .row .head-nav > li:nth-child(5) .drop-dovn ul {
              margin-left: -webkit-calc(100% - 2*100%/6);
              margin-left: -moz-calc(100% - 2*100%/6);
              margin-left: calc(100% - 2*100%/6); }
            .header .row .head-nav > li:nth-child(6) .drop-dovn ul {
              margin-left: -webkit-calc(100% - 2*100%/6);
              margin-left: -moz-calc(100% - 2*100%/6);
              margin-left: calc(100% - 2*100%/6); }
            .header .row .head-nav > li:hover .drop-dovn {
              height: auto; }
/* header */




/* slider on main */ 
    .conteiner {
      width: 1180px;
      margin: 0 auto; }

    .main_slider .sliding .slider-item {
      width: 100%;
      height: 520px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -moz-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .main_slider .sliding .slider-item .con {
        position: relative;
        padding: 0 80px 40px; }
        .main_slider .sliding .slider-item .con .named {
          font-size: 70px;
          font-family: "Open Sans";
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.2;
          padding-bottom: 27px; }
        .main_slider .sliding .slider-item .con .after {
          font-size: 15px;
          font-family: "Open Sans";
          color: white;
          font-weight: 400;
          line-height: 1.2;
          padding-bottom: 25px; }
        .main_slider .sliding .slider-item .con .button {
          display: block;
          text-decoration: none;
          width: 160px;
          height: 41px;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border: 2px solid white;
          position: relative;
          background-color: transparent;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .main_slider .sliding .slider-item .con .button:after {
            content: '';
            background-image: url("../images/button_arrow.png");
            width: 16px;
            height: 16px;
            position: absolute;
            top: -webkit-calc(50% - 16px/2);
            top: -moz-calc(50% - 16px/2);
            top: calc(50% - 16px/2);
            right: 16px; }
          .main_slider .sliding .slider-item .con .button span {
            font-size: 14px;
            font-family: "Open Sans";
            color: white;
            font-weight: bold;
            line-height: 1;
            display: block;
            width: 100%;
            text-align: left;
            padding-left: 26px; }
          .main_slider .sliding .slider-item .con .button:hover {
            background-color: rgba(255, 255, 255, 0.6); }

    .main_slider .slick-slider {
      margin-bottom: 0; }
      .main_slider .slick-slider .slick-dots {
        bottom: 0;
        background-color: red; }
        .main_slider .slick-slider .slick-dots li {
          width: 14px;
          height: 14px;
          margin: 0 4px; }
          .main_slider .slick-slider .slick-dots li button {
            display: none; }

/* slider on main */

/* FOOTER */
    footer {
      width: 100%;
      padding: 35px 0 12px;
      background-color: white; }
      footer .convert {
        background-color: #444444; }
        footer .convert .conteiner {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 0 60px;
          height: 107px; }
          footer .convert .conteiner .left {
            width: 33%; }
            footer .convert .conteiner .left .top-line {
              width: 100%;
              padding-bottom: 12px; }
              footer .convert .conteiner .left .top-line ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -moz-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between; }
                footer .convert .conteiner .left .top-line ul li {
                  display: inline-block; }
                  footer .convert .conteiner .left .top-line ul li a {
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 300;
                    font-family: "Open Sans";
                    color: white;
                    text-transform: uppercase;
                    position: relative;
                    letter-spacing: 1px;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s; }
                    footer .convert .conteiner .left .top-line ul li a:before {
                      position: absolute;
                      content: '';
                      bottom: 0;
                      left: 50%;
                      right: 50%;
                      height: 1px;
                      background-color: #ea3c3c;
                      -webkit-transition: all 0.3s;
                      -moz-transition: all 0.3s;
                      -o-transition: all 0.3s;
                      transition: all 0.3s; }
                    footer .convert .conteiner .left .top-line ul li a:hover {
                      color: #ea3c3c; }
                      footer .convert .conteiner .left .top-line ul li a:hover:before {
                        left: 0;
                        right: 0; }
            footer .convert .conteiner .left .some a {
              display: inline-block;
              margin-right: 25px; }
          footer .convert .conteiner .center {
            padding-top: 20px; }
            footer .convert .conteiner .center a {
              font-size: 12px;
              font-family: "Open Sans";
              color: white;
              text-decoration: underline;
              font-weight: 300;
              letter-spacing: 1px;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; }
              footer .convert .conteiner .center a:hover {
                color: #ea3c3c; }
          footer .convert .conteiner .right .copyright {
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: "Open Sans";
            color: white;
            text-transform: uppercase;
            padding-bottom: 15px; }
          footer .convert .conteiner .right .soc {
            text-align: right; }
            footer .convert .conteiner .right .soc a {
              display: inline-block;
              width: 25px;
              height: 25px;
              border: 2px solid white;
              padding: 3px;
              margin-left: 16px;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; }
              footer .convert .conteiner .right .soc a svg {
                width: 100% !important;
                height: 100% !important;
                fill: white;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s; }
              footer .convert .conteiner .right .soc a:hover {
                border-color: #ea3c3c; }
                footer .convert .conteiner .right .soc a:hover svg {
                  fill: #ea3c3c; }

/* FOOTER */





